<div style="color: #1b1b1b; padding: 0px; border: 2px solid #d8d8d8; border-radius: 6px;">
    <div>
        <app-imagenfondo-home></app-imagenfondo-home>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col">
                <img src="https://bit.ly/3viBZKb" alt="fotoperfil" class="img-fluid" id="fotoperfil">
            </div>
            <div class="col">
                <h2 id="nombre">Lucas Inostroza</h2>
                <p id="profesion">Developer web full stack</p>
            </div>
            <div class="col">
                <h1 id="acercademi">Acerca de mi</h1>
                <p>Ferviente seguidor de River</p>
            </div>
        </div>
    </div>
</div>