<div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                INICIAR SESIÓN
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div style="color: #1b1b1b; padding: 15px; border: 2px solid #d8d8d8; border-radius: 6px;"
                    id="encabezado">
                    <h1 class="m-5">Iniciar sesión</h1>
                    <form [formGroup]="formReg" class="m-5">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button 
                        (click)="onSubmit()"
                        type="submit" 
                        class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
